<div>
  <h2 id="page-heading" data-cy="CurrencyHeading">
    <span jhiTranslate="currencyJhipsterApp.currency.home.title">Currencies</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="currencyJhipsterApp.currency.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-currency"
        [routerLink]="['/currency/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="currencyJhipsterApp.currency.home.createLabel"> Create a new Currency </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="currencies?.length === 0">
    <span jhiTranslate="currencyJhipsterApp.currency.home.notFound">No currencies found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="currencies && currencies.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="currencyJhipsterApp.currency.cbuId">Cbu Id</span></th>
          <th scope="col"><span jhiTranslate="currencyJhipsterApp.currency.code">Code</span></th>
          <th scope="col"><span jhiTranslate="currencyJhipsterApp.currency.name">Name</span></th>
          <th scope="col"><span jhiTranslate="currencyJhipsterApp.currency.nameRu">Name Ru</span></th>
          <th scope="col"><span jhiTranslate="currencyJhipsterApp.currency.nameUz">Name Uz</span></th>
          <th scope="col"><span jhiTranslate="currencyJhipsterApp.currency.nameUzc">Name Uzc</span></th>
          <th scope="col"><span jhiTranslate="currencyJhipsterApp.currency.nameEn">Name En</span></th>
          <th scope="col"><span jhiTranslate="currencyJhipsterApp.currency.nominal">Nominal</span></th>
          <th scope="col"><span jhiTranslate="currencyJhipsterApp.currency.rate">Rate</span></th>
          <th scope="col"><span jhiTranslate="currencyJhipsterApp.currency.diff">Diff</span></th>
          <th scope="col"><span jhiTranslate="currencyJhipsterApp.currency.date">Date</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let currency of currencies; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/currency', currency.id, 'view']">{{ currency.id }}</a>
          </td>
          <td>{{ currency.cbuId }}</td>
          <td>{{ currency.code }}</td>
          <td>{{ currency.name }}</td>
          <td>{{ currency.nameRu }}</td>
          <td>{{ currency.nameUz }}</td>
          <td>{{ currency.nameUzc }}</td>
          <td>{{ currency.nameEn }}</td>
          <td>{{ currency.nominal }}</td>
          <td>{{ currency.rate }}</td>
          <td>{{ currency.diff }}</td>
          <td>{{ currency.date }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/currency', currency.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/currency', currency.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(currency)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
