<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-currency-heading"
        data-cy="CurrencyCreateUpdateHeading"
        jhiTranslate="currencyJhipsterApp.currency.home.createOrEditLabel"
      >
        Create or edit a Currency
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="currencyJhipsterApp.currency.cbuId" for="field_cbuId">Cbu Id</label>
          <input type="number" class="form-control" name="cbuId" id="field_cbuId" data-cy="cbuId" formControlName="cbuId" />
          <div *ngIf="editForm.get('cbuId')!.invalid && (editForm.get('cbuId')!.dirty || editForm.get('cbuId')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('cbuId')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('cbuId')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="currencyJhipsterApp.currency.code" for="field_code">Code</label>
          <input type="number" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
          <div *ngIf="editForm.get('code')!.invalid && (editForm.get('code')!.dirty || editForm.get('code')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('code')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('code')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="currencyJhipsterApp.currency.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="currencyJhipsterApp.currency.nameRu" for="field_nameRu">Name Ru</label>
          <input type="text" class="form-control" name="nameRu" id="field_nameRu" data-cy="nameRu" formControlName="nameRu" />
          <div *ngIf="editForm.get('nameRu')!.invalid && (editForm.get('nameRu')!.dirty || editForm.get('nameRu')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nameRu')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="currencyJhipsterApp.currency.nameUz" for="field_nameUz">Name Uz</label>
          <input type="text" class="form-control" name="nameUz" id="field_nameUz" data-cy="nameUz" formControlName="nameUz" />
          <div *ngIf="editForm.get('nameUz')!.invalid && (editForm.get('nameUz')!.dirty || editForm.get('nameUz')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nameUz')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="currencyJhipsterApp.currency.nameUzc" for="field_nameUzc">Name Uzc</label>
          <input type="text" class="form-control" name="nameUzc" id="field_nameUzc" data-cy="nameUzc" formControlName="nameUzc" />
          <div *ngIf="editForm.get('nameUzc')!.invalid && (editForm.get('nameUzc')!.dirty || editForm.get('nameUzc')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nameUzc')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="currencyJhipsterApp.currency.nameEn" for="field_nameEn">Name En</label>
          <input type="text" class="form-control" name="nameEn" id="field_nameEn" data-cy="nameEn" formControlName="nameEn" />
          <div *ngIf="editForm.get('nameEn')!.invalid && (editForm.get('nameEn')!.dirty || editForm.get('nameEn')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nameEn')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="currencyJhipsterApp.currency.nominal" for="field_nominal">Nominal</label>
          <input type="number" class="form-control" name="nominal" id="field_nominal" data-cy="nominal" formControlName="nominal" />
          <div *ngIf="editForm.get('nominal')!.invalid && (editForm.get('nominal')!.dirty || editForm.get('nominal')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nominal')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('nominal')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="currencyJhipsterApp.currency.rate" for="field_rate">Rate</label>
          <input type="number" class="form-control" name="rate" id="field_rate" data-cy="rate" formControlName="rate" />
          <div *ngIf="editForm.get('rate')!.invalid && (editForm.get('rate')!.dirty || editForm.get('rate')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('rate')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('rate')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="currencyJhipsterApp.currency.diff" for="field_diff">Diff</label>
          <input type="number" class="form-control" name="diff" id="field_diff" data-cy="diff" formControlName="diff" />
          <div *ngIf="editForm.get('diff')!.invalid && (editForm.get('diff')!.dirty || editForm.get('diff')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('diff')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('diff')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="currencyJhipsterApp.currency.date" for="field_date">Date</label>
          <input type="text" class="form-control" name="date" id="field_date" data-cy="date" formControlName="date" />
          <div *ngIf="editForm.get('date')!.invalid && (editForm.get('date')!.dirty || editForm.get('date')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('date')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
