<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="currency">
      <h2 data-cy="currencyDetailsHeading"><span jhiTranslate="currencyJhipsterApp.currency.detail.title">Currency</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ currency.id }}</span>
        </dd>
        <dt><span jhiTranslate="currencyJhipsterApp.currency.cbuId">Cbu Id</span></dt>
        <dd>
          <span>{{ currency.cbuId }}</span>
        </dd>
        <dt><span jhiTranslate="currencyJhipsterApp.currency.code">Code</span></dt>
        <dd>
          <span>{{ currency.code }}</span>
        </dd>
        <dt><span jhiTranslate="currencyJhipsterApp.currency.name">Name</span></dt>
        <dd>
          <span>{{ currency.name }}</span>
        </dd>
        <dt><span jhiTranslate="currencyJhipsterApp.currency.nameRu">Name Ru</span></dt>
        <dd>
          <span>{{ currency.nameRu }}</span>
        </dd>
        <dt><span jhiTranslate="currencyJhipsterApp.currency.nameUz">Name Uz</span></dt>
        <dd>
          <span>{{ currency.nameUz }}</span>
        </dd>
        <dt><span jhiTranslate="currencyJhipsterApp.currency.nameUzc">Name Uzc</span></dt>
        <dd>
          <span>{{ currency.nameUzc }}</span>
        </dd>
        <dt><span jhiTranslate="currencyJhipsterApp.currency.nameEn">Name En</span></dt>
        <dd>
          <span>{{ currency.nameEn }}</span>
        </dd>
        <dt><span jhiTranslate="currencyJhipsterApp.currency.nominal">Nominal</span></dt>
        <dd>
          <span>{{ currency.nominal }}</span>
        </dd>
        <dt><span jhiTranslate="currencyJhipsterApp.currency.rate">Rate</span></dt>
        <dd>
          <span>{{ currency.rate }}</span>
        </dd>
        <dt><span jhiTranslate="currencyJhipsterApp.currency.diff">Diff</span></dt>
        <dd>
          <span>{{ currency.diff }}</span>
        </dd>
        <dt><span jhiTranslate="currencyJhipsterApp.currency.date">Date</span></dt>
        <dd>
          <span>{{ currency.date }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/currency', currency.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
